@charset "utf-8";
h1 {
  color: #505050;
  padding: 0.5em;
  display: inline-block;
  line-height: 1.3;
  background: #90ffff;
  vertical-align: middle;
  border-radius: 25px 0px 0px 25px;
}

h1:before {
  content: '●';
  color: white;
  margin-right: 8px;
}
